openai
python-dotenv

 
# langhcain
langchain
langchain-core
langchain-community


# langchain integeration
# langchain[google-genai]
# langchain-openai
langchain-groq
langchain[huggingface]
 
 
# UI
streamlit


# pdf loader
PyPDF2
wikipedia

#transformers
sentence-transformers