openai
python-dotenv

 
# langhcain
langchain
langchain-core
langchain-community


# langchain integeration
langchain-groq
# langchain-openai
# langchain[google-genai]
# langchain[huggingface]
 
 
# UI
streamlit


# pdf loader
PyPDF2
wikipedia